streamlit==1.37.1
langchain==0.3.0
langchain-groq==0.3.2
python-dotenv==1.0.1
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.1
scikit-learn==1.5.2
tensorflow-cpu==2.17.0
opencv-python-headless==4.10.0.84
requests==2.32.3
beautifulsoup4==4.12.3
selenium==4.33.0
webdriver-manager==4.0.2
