absl-py==2.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.3.4
aiohttp==3.10.1
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
build==1.2.1
cached-property==2.0.1
cachetools==5.4.0
certifi==2025.4.26
cffi==1.16.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.5
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.1
cycler==0.12.1
dataclasses-json==0.6.7
Deprecated==1.2.14
dict-toolbox==5.0.0
distro==1.9.0
Django==5.0.7
dnspython==2.6.1
dotenv==0.9.9
email_validator==2.2.0
entrypoints==0.4
etl-utils==0.1.11
exceptiongroup==1.2.2
faiss-cpu==1.8.0.post1
Faker==26.2.0
fastapi==0.111.1
fastapi-cli==0.0.4
favicon==0.7.0
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
google-pasta==0.2.0
googleapis-common-protos==1.63.2
greenlet==3.0.3
groq==0.26.0
grpcio==1.65.1
grpcio-status==1.62.3
h11==0.14.0
h5py==3.11.0
htbuilder==0.6.2
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.24.5
humanfriendly==10.0
humanize==0.5.1
idna==3.7
image==1.5.33
importlib_metadata==8.0.0
importlib_resources==6.4.0
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keras==3.5.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-vggface==0.6
kiwisolver==1.4.5
kubernetes==30.1.0
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.64
langchain-google-genai==2.0.0
langchain-groq==0.3.2
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langserve==0.3.0
langsmith==0.3.45
lazy-object-proxy==1.10.0
libclang==18.1.1
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1
mdurl==0.1.2
mediapipe==0.10.14
ml-dtypes==0.4.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
mypy-extensions==1.0.0
mysql-connector==2.2.9
namex==0.0.8
nest-asyncio==1.6.0
nltk==3.9.1
nltk-punkt==0.6
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.18.1
openai==1.40.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-asgi==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-util-http==0.47b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
plotly==5.23.0
pop==27.1.0
pop-config==12.0.4
pop-loop==1.1.0
posthog==3.5.0
progressbar==2.2
prometheus_client==0.20.0
proto-plus==1.24.0
protobuf==4.25.3
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.5.2
pydantic_core==2.20.1
pydeck==0.9.1
pygame==2.6.0
Pygments==2.18.0
pymdown-extensions==10.9
pyparsing==3.1.2
pypdf==4.3.1
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.1.0
pysingleton==0.2.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
regex==2024.7.24
rend==7.0.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.0
selenium==4.33.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.7
soupsieve==2.5
SQLAlchemy==2.0.32
sqlparse==0.5.1
st-annotated-text==4.0.1
st-theme==1.2.3
starlette==0.37.2
streamlit==1.37.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.13.1
tenacity==8.5.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
tfidf==0.0.6
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.20.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.5
trio==0.30.0
trio-websocket==0.12.2
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.13.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.4.0
uvicorn==0.30.3
uvloop==0.19.0
validators==0.33.0
watchdog==4.0.1
watchfiles==0.22.0
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
yarl==1.9.4
zipp==3.19.2
zstandard==0.23.0
